#mainPanel {
  color: #fff;
  .el-header {
    padding: 0;
    background: rgb(0, 40, 77);
    img {
      height: 100%;
      vertical-align: middle
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      line-height: 100%;
    }

    .option {
      display: inline-block;
      float: right;
      padding: 20px 0 20px 0;

      .username {
        cursor: pointer;
        font-size: 18px;
        color: #fff;
      }

    }
  }
  .el-aside {
    .el-menu {
      height: 100vh;
      border: none;
    }
    .el-menu-item.is-active {
      color: #fff;
        background-color: #1890ff!important;
    }

    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
    ::v-deep .el-submenu__title:hover{
    background-color: rgb(3, 19, 33) !important;
    }
    //子级的类名
    .el-menu-item:hover {
    background-color: rgb(3, 19, 33) !important;
    }
  }
  .el-main {
    padding: 0;
    .mainTable {
      height: 100%;
      background: #edf1f4;
    }
  }
}

