#mainPanel {
  color: #fff;
  .el-header {
    padding: 0;
    background: rgb(0, 40, 77);
  }
  .el-aside {
    .el-menu {
      height: 100vh;
      border: none;
    }
    .el-menu-item.is-active {
      color: #fff;
        background-color: #1890ff!important;
    }

    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
    //.el-menu-item-group .el-menu-item.demo:hover{
    //background: #34466a !important;
    //  color: red !important;
    //}

    ::v-deep .el-submenu__title:hover{
    background-color: rgb(3, 19, 33) !important;
    }
    //子级的类名
    .el-menu-item:hover {
    background-color: rgb(3, 19, 33) !important;

    }
  }
}
