.loginContent {
  position: relative;
  height: 100vh;
  background-color: rgb(6, 12, 31);
  img {
    position: absolute;
    top: 5vh;
    left: 10vh;
    width: 50%;
  }
  .loginBox {
    position: absolute;
    top: 30vh;
    right: 15vw;
    padding: 40px;
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(255, 255, 255, .5);
    box-sizing: border-box;
    background-color: #fff;
    .title {
      text-align: center;
      margin-bottom: 4vh;
    }
    .content-form {
      i {
        font-size: 20px;
      }
      .sureBtn {
        width: 100%;
      }
    }
  }
}
